swiper-container::part(button-next),
swiper-container::part(button-prev) {
    background-color: #053B38;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 10;
}

:host {
    --swiper-navigation-color: white;
}