<swiper-container
  slides-per-view="4"
  speed="500"
  loop="true"
  css-mode="true"
  navigation="true"
  class="w-full relative multiple-slide-carousel"
>
  <swiper-slide>
    <div class="flex justify-center items-center">
      <!-- <span class="text-2xl font-semibold text-indigo-600">Slide 1</span> -->
      <img src="assets/img/profile.png" alt="">
    </div>
  </swiper-slide>
  <swiper-slide>
    <div class="flex justify-center items-center">
        <img src="assets/img/profile3.png" alt="">
    </div>
  </swiper-slide>
  <swiper-slide>
    <div class="flex justify-center items-center">
        <img src="assets/img/profile2.png" alt="">
    </div>
  </swiper-slide>
  <swiper-slide>
    <div class="flex justify-center items-center">
        <img src="assets/img/profile4.png" alt="">
    </div>
  </swiper-slide>
  <swiper-slide>
    <div class="flex justify-center items-center">
        <img src="assets/img/profile2.png" alt="">
    </div>
  </swiper-slide>
  <swiper-slide>
    <div class="flex justify-center items-center">
        <img src="assets/img/profile3.png" alt="">
    </div>
  </swiper-slide>
</swiper-container>

