<app-navbar></app-navbar>
<p>contact works!</p>
<div class="p-4 h-[4000px]">
    <form action="/contact" method="post">
        <label for="raison du contact" aria-required="true">Choisissez votre motif :</label>
        <select id="contact" name="contact" class="default-input">
            <option value="">--Sélectionner--</option>
            <option value="FR">France</option>
            <option value="BE">Belgique</option>
            <option value="CH">Suisse</option>
        </select>
        <label for="name"></label>
        <input type="name" class="default-input" id="name" name="name" required placeholder="Nom">
        <label for="mail"></label>
        <input type="mail" class="default-input" name="email" required placeholder="Mail">
        <label for="problems"></label>
        <input type="number" class="default-input" name="phone" required placeholder="Phone">
        <label for="phone"></label>
        <textarea class="default-input"></textarea>
        <button class="default-button">Envoyer</button>
    </form>
</div>