<div class="p-4 flex sticky top-0 bg-white" >
    <div>
        <img src="\assets\img\logo-long-vert.png" alt="logo omees" width="80" height="50">
    </div>
    <nav class="flex gap-4 ms-auto">
        <a class="text-decoration-line:none" routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">Home</a>
        <a class="text-decoration-line:none" routerLink="/contact" routerLinkActive="active" ariaCurrentWhenActive="page">Contact</a>
        <a class="text-decoration-line:none" routerLink="/about-us" routerLinkActive="active" ariaCurrentWhenActive="page">About Us</a>
        <a class="text-decoration-line:none" routerLink="/connexion" routerLinkActive="active" ariaCurrentWhenActive="page">Connexion</a>
    </nav>
</div>