<div class="navbar-wrapper">
    <div>
        <img src="https://picsum.photos/80/50" alt="logo omees">
    </div>
    <nav>
        <a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">Home</a>
        <a routerLink="/contact" routerLinkActive="active" ariaCurrentWhenActive="page">Contact</a>
        <a routerLink="/about-us" routerLinkActive="active" ariaCurrentWhenActive="page">About Us</a>
        <a routerLink="/connexion" routerLinkActive="active" ariaCurrentWhenActive="page">Connexion</a>
    </nav>
</div>