<div class="p-4 flex sticky top-0 bg-secondary-pink-900">
    <div>
        <img src="\assets\img\logo_long_noir_rose.svg" alt="logo omees" width="80" height="50">
    </div>
    <nav class="flex gap-4 ms-auto font-bold text-secondary-black-900">
        <a class="text-decoration-line:none" routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">Home</a>
        <a class="text-decoration-line:none" routerLink="/contact" routerLinkActive="active" ariaCurrentWhenActive="page">Contact</a>
        <a class="text-decoration-line:none" routerLink="/about-us" routerLinkActive="active" ariaCurrentWhenActive="page">About Us</a>
        <a class="text-decoration-line:none text-primary-pink-900" routerLink="/connexion" routerLinkActive="active" ariaCurrentWhenActive="page">Connexion</a>
    </nav>
</div>