<div class="container mx-auto">
    <!-- Title and Description -->
    <div>
        <img src="/assets/img/voitures-services.png" alt="Voiture service" class="w-full h-auto block">
        <h2 class="absolute inset-0 flex pt-36 pl-36 text-secondary-yellow-900 font-filson-pro font-black text-4xl h-fit">Parcourez Nos <br>Fonctionnalités<span class="text-primary-pink-900"><br>.</span></h2>
    </div>

    <!-- Cards Container -->
    <p class="pt-7 pb-7 text-white text-center items-center justify-center flex bg-primary-pink-900">Lorem ipsum dolor sit amet consectetur adipiscing elit semper<br>dalar elementum tempus hac tellus libero accumsan.</p>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 p-5 bg-primary-pink-900">
        <!-- Application Utilisateurs Card -->
        <div class="bg-white rounded-2xl p-8 text-black text-center transition-transform hover:scale-105">
            <div class="w-20 h-20 mx-auto mb-6 rounded-full flex items-center justify-center">
                <img class="rounded-full bg-primary-pink-900" src="assets/icon/user.svg" alt="Application Utilisateurs">
            </div>
            <h3 class="text-xl font-bold mb-12 mt-12 font-filson-pro">Application Utilisateurs</h3>
            <p class="mb-12 font-poppins">Lorem ipsum dolor sit amet consecte tur adipisicing elit semper daler elementum tempus hac.</p>
            <button class="default-button-services">
                En savoir plus
            </button>
        </div>

        <!-- Site Internet Card -->
        <div class="bg-white rounded-2xl p-8 text-black text-center transition-transform hover:scale-105">
            <div class="w-20 h-20 mx-auto mb-6 rounded-full flex items-center justify-center">
                <img class="rounded-full bg-primary-pink-900" src="assets/icon/globe.svg" alt="Application Utilisateurs">
            </div>
            <h3 class="text-xl font-bold mb-12 mt-12 font-filson-pro">Site Internet</h3>
            <p class="mb-12 font-poppins">Lorem ipsum dolor sit amet consecte tur adipisicing elit semper daler elementum tempus hac.</p>
            <button class="default-button-services">
                En savoir plus
            </button>
        </div>

        <!-- Fonctionnalité Conductrices Card -->
        <div class="bg-white rounded-2xl p-8 text-black text-center transition-transform hover:scale-105">
            <div class="w-20 h-20 mx-auto mb-6 rounded-full flex items-center justify-center">
                <img class="rounded-full bg-primary-pink-900" src="assets/icon/car.svg" alt="Fonctionnalité Conductrices">
            </div>
            <h3 class="text-xl font-bold mb-12 mt-12 font-filson-pro">Fonctionnalité Conductrices</h3>
            <p class="mb-12 font-poppins">Lorem ipsum dolor sit amet consecte tur adipisicing elit semper daler elementum tempus hac.</p>
            <button class="default-button-services">
                En savoir plus
            </button>
        </div>
    </div>
</div>
<app-horizontal-content bg="bg-black" colorTitle="text-white" text="text-white" title="Commandez votre course dès aujourd'hui !" image="/assets/img/container6.jpg" content_button="Découvrez l'application" buttonType="button-horizontal2" [isImageRight]="false" [hasArrow]="false" [isCropped]="true" ></app-horizontal-content>
<app-horizontal-content bg="bg-primary-pink-900" colorTitle="text-white" title="Conduisez avec l'application OMEES !" image="/assets/img/container7.jpg" content_button="Inscription" buttonType="button-horizontal2" [isImageRight]="true" [hasArrow]="false" [isCropped]="true" ></app-horizontal-content>