<div class="p-4 bg-primary-pink-900">
    <div class="flex justify-between">
        <img src="\assets\img\logo_carre_noir.svg" alt="logo omees" height="50px" width="80px">
        <div class="p-1/2 flex social items-start flex-col">
            <p class="flex p-2 font-black">Suivez-nous !</p>
            <div class="flex flex-row">
                <a href="https://www.facebook.com"><img src="\assets\icon\facebook.svg" alt="logo facebook"></a>
                <a href="https://www.instagram.com/omees.vtc/"><img  src="\assets\icon\instagram.svg" alt="logo instagram"></a>
                <a href="https://www.linkedin.com"><img  src="\assets\icon\linkedin.svg" alt="logo linkedin"></a>
            </div>
        </div>
    </div>
    <div class="font-bold flex justify-center">
        <p> Copyright © 2024 Omees Incorporation | All Rights Reserved</p>
    </div>
</div>    