<div class="p-4 bg-primary-pink-900">
    <div class="flex justify-between">
        <img src="\assets\img\logo_long_blanc.svg" alt="logo omees" class="w-1/5">
        <div class="p-1/2 flex social flex-col pr-32">
            <p class="flex font-black text-white">Suivez-nous !</p>
            <div class="pt-4 flex">
                <a href="https://www.facebook.com" target="_blank"><img src="\assets\icon\facebook.png" alt="logo facebook"></a>
                <a href="https://www.instagram.com/omees.vtc/" target="_blank"><img  src="\assets\icon\instagram.png" alt="logo instagram"></a>
                <a href="https://www.linkedin.com/company/omees/?viewAsMember=true" target="_blank"><img  src="\assets\icon\linkedin.png" alt="logo linkedin"></a>
            </div>
        </div>
    </div>
    <div class="font-bold flex justify-center text-white">
        <p> Copyright © 2024 Omees Incorporation | All Rights Reserved</p>
    </div>
</div>    