@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* Exemple de class custom tailwind : */

@layer components {
  .default-button {
    @apply rounded-full bg-primary-pink-900 border border-secondary-black-900 text-white py-4 px-5 m-1 font-bold
  }
  .default-input {
    @apply border bg-white rounded-md pl-2 min-w-96 
  }
}
