@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* Exemple de class custom tailwind : */

@layer components {
  .default-button {
    @apply rounded-full bg-primary-pink-900 border border-secondary-black-900 text-white py-4 px-5 m-1 font-bold hover:shadow-md active:translate-y-0.5 transition-all duration-150
  }
  
  .default-button-services {
    @apply bg-white text-secondary-black-800 px-6 py-2 rounded-full font-medium hover:bg-opacity-90 transition-colors
  }

  .button-horizontal {
    @apply bg-transparent border border-white border-2 text-white px-6 py-2 rounded-full font-medium hover:bg-opacity-90 transition-colors
  }

  .default-button-home {
    @apply rounded-full border-2 border-secondary-black-900 text-secondary-black-900 font-bold py-2 px-6
  }

  .default-button-no-border {
    @apply rounded-full bg-primary-pink-900 text-white py-4 px-5 m-1 font-bold
  }
  
  .default-input {
    @apply border border-secondary-black-400 bg-white rounded-lg py-3 pl-4 pr-2 w-full text-secondary-black-900 outline-none shadow-sm
  }
  
  .button-dark {
    @apply rounded-full bg-secondary-black-800 border border-secondary-black-800 text-white py-4 px-5 m-1 font-bold hover:shadow-md active:translate-y-0.5 transition-all duration-150
  }
  
  .form-label {
    @apply block text-sm font-medium text-secondary-black-800 mb-1
  }
}