<app-navbar></app-navbar>
<div class="flex justify-center gap-4 items-center">
    <div class="w-1/2 h-96 p-8 content-center">
        <h1 class="text-primary-pink-900 font-black text-5xl">Votre trajet en toute<span class="text-secondary-yellow-900"> confiance</span>, à <span class="text-secondary-pink-900"> chaque instant</span>.</h1>
        <p class="text-primary-pink-900">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia, sunt omnis aut est quo totam quaerat tenetur repudiandae ratione natus sit laboriosam fugit autem magni ipsum magnam cupiditate asperiores non?</p>
        <button class="default-button">Téléchargez l'application</button>
    </div>
    <div class="w-1/2 p-4 justify-items-center">
        <img class="w-3/4 aspect-square" src="\assets\img\phone-container.png" alt="image-trajet">
    </div>
</div>