<div class="flex justify-center gap-4 items-center">
    <div class="w-1/2 h-96 p-8 content-center">
        <h1 class="text-primary-pink-900 font-black text-5xl">Votre trajet en toute<span
                class="text-secondary-yellow-900"> confiance</span>, à <span class="text-secondary-pink-900"> chaque
                instant</span>.</h1>
        <p class="text-primary-pink-900">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia, sunt omnis
            aut est quo totam quaerat tenetur repudiandae ratione natus sit laboriosam fugit autem magni ipsum magnam
            cupiditate asperiores non?</p>
        <button class="default-button">Téléchargez l'application</button>
    </div>
    <div class="w-1/2 p-4 justify-items-center">
        <img class="w-3/4 aspect-square" src="\assets\img\phone-container.png" alt="image-trajet">
    </div>
</div>
<div class="illustration-container bg-primary-pink-500 pt-20 pb-20 ">
    <div class="flex m-auto gap-4 items-center w-10/12 ">
        <div class="w-1/2 h-96 p-8 bg-secondary-black-800 rounded-3xl flex flex-col">
            <div class="mt-8">
                <h1 class="text-white font-semibold text-4xl mb-6">Téléchargez l'application <br/> Omees !</h1>
            </div>
            <div class="flex flex-row items-center">
                <img class="w-32 rounded-3xl" src="\assets\img\qrcode.png" alt="qr-code">
                <p class="text-white text-lg pl-8">Scannez le QR code pour télécharger</p>
            </div>
        </div>

        <div class="w-1/2 h-96 p-8 flex flex-col bg-white rounded-3xl">
            <div class="mt-8">
                <h1 class="text-secondary-black-800 font-semibold text-5xl mb-6">Retrouvez toute notre actualité</h1>
            </div>
            <p class="text-secondary-black-800 mb-6">Souscrivez à notre newsletter</p>
            <div class="flex justify-center w-3/4">
                <input type="email" placeholder="Adresse email"
                    class="absolute rounded-full h-16 w-full max-w-96 bg-primary-pink-600 placeholder-white placeholder:font-semi-bold text-white pl-4">
                <div class="flex w-full max-w-96 justify-end">
                    <button class="button-dark z-10">Souscrivez</button>
                </div>
            </div>
        </div>
    </div>
</div>