.illustration-container {
    background-image: url('/assets/img/illustration-omees.png');
    background-size: cover;
}

.input-focus {    
    &:focus {
        border-color: transparent;
        outline: none;
        box-shadow: 0 0 0 0;
    }
}

.bg-home-top {
    background-image: url('/assets/img/img_accueil_omees.png');
    background-size: cover;
}